@import "variables";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0 1.2rem;
  ul {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 0;
    box-shadow: $box-shadow-bottom;
  }

  .tweak {
    margin-top: 20px;
  }
  
  h2 {
    font-family: $font-family;
    color: white;
  }
  li {
    text-align: center;
    line-height: 30px;
    padding: 20px 0;
    font-family: $font-family;
  }
  a {
    color: $hero-color;
  }
  .div {
    background-color: white;
  }
}

nav.sticky {
  transition: 0.2s;
  background-color: $hero-color;
  box-shadow: $box-shadow-bottom;
}

nav.sticky .div {
  background-color: white;
}

nav.sticky h2 {
  color: white;
}

.div {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease-in;
  transform-origin: 7px;
}

.hamburger.kin .div:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.kin .div:nth-child(2) {
  transform: scale(0);
}

.hamburger.kin .div:nth-child(3) {
  transform: rotate(-45deg);
}

//ul class for extra styling
.nav-links {
  background-color: rgba(41, 35, 29, .95);
  transform: rotateX(-90deg) translateX(0%);
  transform-origin: top center;
  opacity: 0.3;
  visibility: hidden;
  transition: 0.2s all ease-in;
  height: 400px;
}

.view {
  opacity: 1;
  transform: rotateX(0) translateX(0%);
  visibility: visible;
}

.Section {
  @include page();
}

.Home {
  @include page();
  background-image: url("/Images/fireproof\ cloak.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;

  .text {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 45px;
    font-family: $font-family;
    color: whitesmoke;
  }
  span {
    color: white;
  }
  .dev {
    color: white;
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 117px;
  }

  .wave .shape-fill {
    fill: #ffffff;
  }

  button {
    margin-top: 150px;
    background-color: $hero-color;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    font-size: 1rem;
    font-weight: bold;
    font-family: $font-family;
  }
  a {
    color: white;
  }
}

.About {
  @include page();
  padding-top: 50px;
  .section-2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font-family;
    h1 {
      padding-bottom: 0.5rem;
    }
    .paragraph-1 {
      font-weight: 700;
    }
  }
  img {
    padding: 20px;
    max-width: 400px;
  }

  button {
    background-color: $hero-color;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    font-size: 1rem;
    font-weight: bold;
    font-family: $font-family;
    margin: 30px auto 20px auto;
  }
  a {
    color: white;
  }
}

.Portfolio {
  @include page();
  padding-top: 50px;
  .section-4 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font-family;
    h1 {
      padding-bottom: 0.5rem;
    }
    .paragraph-1 {
      font-weight: 700;
    }
  }
  img {
    padding: 20px;
    max-width: 400px;
  }
}

.swiper {
       width: 100%;
        height: 50%;
      }

      .swiper-wrapper {
        align-items: center;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 300px;
        height: 250px;
        border-radius: 7px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
      }

      .swiper-slide img {
          width: 300px;
          height: 250px;
          border-radius: 10%;
        }

      // .swiper-slide img {
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide-active {
        transform: scale(1.2);
        transition: .4s;
      }

      .sweep {
        display: none;
      }

.Services {
  background-color: rgb(27, 20, 20);
  font-family: $font-family;
  min-height: 800px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .contain {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: white;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 1.4rem;
    padding-top: 30px;
    .picture {
      // outline: 1px solid blue;
      //margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    h5 {
      color: white;
      text-align: center;
      padding: 10px 0;
    }
    span {
      display: block;
    }
  }
}

.Contact {
  background-color: rgb(27, 20, 20);
  @include page();
  padding-top: 50px;
  .section-5 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font-family;
    h3 {
      padding-bottom: 0.5rem;
    }
    span {
      font-weight: 700;
    }
  }
  img {
    padding: 20px;
    max-width: 400px;
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  background-color: red;
  opacity: 0.8;
  padding: 0 0.3rem;
  z-index: 10;
  transition: 0.4s;
  &:hover {
    background-color: blue;
  }
}
// @media (max-width: )
@media (min-width: 670px) {
  .ab {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 80px;
    justify-content: space-between;
    //max-width: 400px;
    p {
      text-align: left;
      padding-top: 70px;
      max-width: 400px;
    }
  }
  .spirit {
    width: 350px;
  }
}
